.contenedor{
    margin: 0;
    width: 100vw;
    min-height: 450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.ItemCart{
    display:flex;
    
}

.ItemCart img{
    width:100px;
}

.TotalFinal{
    padding:10%;
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}


label{
    color:#d1b35f;
    font-weight: bold;

}