.titleDetail, .price{
    color:#d1b35f;
    font-weight: bold;
}

.price{
    padding-top: 2%;
}

.info{
    position:relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:300px;
    margin: 0px;
  }
  
 .content{
      background-color: aliceblue;
      text-align: center;
 }


 .contain{
     display:flex;
     flex-direction: row;
     align-items: center;
 }

 .contain-img{
     width:40%;
 }
 .contain-detail{
     width:60%;
     text-align: center; 
    font-size: 21px;
    padding-top:10px;
 }

 .contain-detail p {
     width:90%;
 }


 .detail{
     color:#c7c1c1;
     font-weight: bold;
 }


.btns p {
    width:30px;
 }


.styleDetail{
    width:200px;
    margin-left:12%;
}

.styleDetail .btnCompra{
    margin-left:12%;
}