.cardContainer{
    position: relative; 
    min-width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: center;
   
  
  }

  @media screen and (min-width: 768px) {
    .cardContainer{min-width: 600px;}
  
  }